{% extends "base.html" %}
{% block content %}

<!--Content-->
<div class="container-fluid" id="question-page">
    <div id="question-box">
        <div id="question-text">
            <h1>How many pints of guinness are consumed worldwide on St. Patrick's day?</h1>
        </div>
        <div id="question-answers">
            <div id="answer-box1">
                <h2>A</h2>
            </div>
            <div id="answer-box2">
                <h2>B</h2>
            </div>
            <div id="answer-box3">
                <h2>C</h2>
            </div>
            <div id="answer-box4">
                <h2>D</h2>
            </div>
        </div>
        <div id="question-time">
            <h2>00:00</h2>
        </div>
    </div>
</div>
<!--/Content-->

{% endblock %}