{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row d-flex mb-3">
        <div class="content order-lg-2 col-lg-4 d-flex align-items-center justify-content-center flex-column">
            <div class="logo-box d-flex align-items-center justify-content-center flex-column">
                <div id="logo-image" class="d-flex align-items-center justify-content-center flex-column img-fluid">
                    <h1 id="quiz-text">quiz</h1>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" id="logo-text">
                <h1>staticwicked</h1>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 content">
            <div class="d-flex align-items-center justify-content-center flex-column" id="">
                <div class="heading-box d-flex align-items-center justify-content-center">
                    <h2>start a quiz</h2>
                </div>
                <a href="{{url_for('make_quiz') }}" class="button-box d-flex align-items-center justify-content-center flex-column">
                    <div class="img-fluid" id="start-quiz-button">&nbsp;</div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 order-lg-3 content">
            <div class="d-flex align-items-center justify-content-center flex-column" id="">
                <div class="heading-box d-flex align-items-center justify-content-center">
                    <h2>join a quiz</h2>
                </div>
                <a href="{{url_for('join_quiz') }}" class="button-box d-flex align-items-center justify-content-center flex-column">
                    <div class="img-fluid" id="join-quiz-button">&nbsp;</div>
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}