{% extends "base.html" %}
{% block content %}

<div class="container info-container">
    <div class="d-flex justify-content-center mt-3">
        <div>
            <h2>Saint Patrick's for dummies</h2>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="card card-flip h-100">
                <div class="card-front text-white bg-white">
                    <div class="card-body">
                        <img src="https://pixy.org/src/76/764364.jpg" alt="Shamrock symbol" />
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">Shamrock</h3>
                        <p class="card-text">The shamrock. As the legend goes, when St. Patrick arrived in Ireland he
                            used the shamrock to visually explain Christianity’s Holy Trinity. The metaphor worked well
                            for pagan Ireland, where the number three already held special significance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-flip h-100">
                <div class="card-front text-black bg-white">
                    <div class="card-body">
                        <img id="saintPatrick" src="https://live.staticflickr.com/3703/13222409233_3d9d86d4ac_c.jpg"
                            alt="Saint Patrick" />
                    </div>
                </div>
                <div class="card-back bg-white text-black">
                    <div class="card-body">
                        <h3 class="card-title">Saint Patrick</h3>
                        <p class="card-text">Patrick was about sixteen when he was captured by Irish pirates from his
                            home in Britain and taken as a slave to Ireland, looking after animals; he lived there for
                            six years before escaping and returning to his family. By the seventh century, he had
                            already come to be revered as the patron saint of Ireland.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-3">
            <div class="card card-flip h-100">
                <div class="card-front text-white bg-white">
                    <div class="card-body">
                        <img src="https://live.staticflickr.com/7259/13228827905_34a8e93ed1_b.jpg"
                            alt="Saint Patrick's Parade" />
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body text-black">
                        <h3 class="card-title">Saint's Patrick parade</h3>
                        <p class="card-text">The first St Patrick's Day parade in Ireland was held in Waterford in 1903.
                            The first official, state-sponsored St Patrick's Day parade in Dublin took place in 1931. St
                            Patrick's Day Festival 2021 due to COVID-19 will host virtual events around Ireland on their
                            SPF TV online channel. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-3">
            <div class="card card-flip h-100">
                <div class="card-front text-white bg-white">
                    <div class="card-body">
                        <img id="StPatricksDate"
                            src="https://bradfordforeveryone.co.uk/wp-content/uploads/2020/06/st-patricks-day-1271440_960_720.png"
                            alt="Saint Patrick's date" />
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">17th of March</h3>
                        <p class="card-text">Saint Patrick's Day, or the Feast of Saint Patrick, is held on 17 March,
                            the traditional death date of Saint Patrick. It is a public holiday in the Republic of
                            Ireland, Northern Ireland, the Canadian province of Newfoundland and Labrador, and the
                            British Overseas Territory of Montserrat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-3">
            <div class="card card-flip h-100">
                <div class="card-front text-white bg-white">
                    <div class="card-body">
                        <img src="https://mscwordpresscontent.s3.amazonaws.com/wa/wp-content/uploads/2020/03/New-Irish-Whiskey-St-Patricks-Day-2020-1240x696.jpg"
                            alt="Saint Patrick's drinking" />
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">Pub drinking</h3>
                        <p class="card-text">March 17th is smack dab in the middle of Lent, a time when observant
                            Christians often refrain from indulgences like eating meat or drinking alcohol. But the
                            church makes an exception for St. Patrick’s Day, which means the day has been associated
                            with drinking—especially beer and whiskey, Ireland’s two native drinks.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-3">
            <div class="card card-flip h-100">
                <div class="card-front text-white bg-white">
                    <div class="card-body">
                        <img src="https://pixy.org/src2/578/5783172.png" alt="Saint Patrick's decorations" />
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">The color GREEN</h3>
                        <p class="card-text">While St. Patrick was originally represented by shades of blue, with the
                            rising popularity of the shamrock symbol came an abundance of green. Today, cities are
                            filled with a sea of green – be it green beers, green rivers or green outfits from head to
                            toe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
