{% extends "base.html" %}
{% block content %}


<div class="container-fluid d-flex align-items-center justify-content-center mt-5">
  <div id="question-box">
    <div id="question-text">
      <h1>Join Quiz</h1>
    </div>
    <div class="container mb-5">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <form class="form-format" method="POST" action="{{url_for('edit_quiz') }}">

            <input id="quizURL" name="quizURL" type="text" placeholder="Quiz URL:" class="validate form-input" title="Only 15 character or less" required />
            <input id="teamName" name="teamName" type="text" placeholder="Team name:" class="validate form-input" title="Only 15 character or less" required />
            <div class="col-md-12 d-flex justify-content-center mt-3">
              <button type="submit" class="form-submit">Join a Quiz</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
